/* Barre de navigation */
ul {
    
    color: white; 
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

li:hover{
    background-color: rgb(187, 173, 173);
    color: black;
    margin: 0;
    border: 1px solid;
    border-color: black;
    }

li{
    height: 38px;
}

ul li {
    display: inline-block;
    padding: 0 6px;
}

nav{
    background-color: black;
    height: 40px;
    line-height: 40px;
}


/* Caroussel*/

.carousel{background-color: rgb(187, 173, 173);
    height: 200px;
}

/* Titre*/
.Titre{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px 0;  
}


   
/* Section article */
article{ 
    display: inline-block;
    background-color:rgb(187, 173, 173);
    height: 200px; 
    width: 33%;   
}

/* Section formulaire */

.section2{
    padding: 50px;
}



.formulaire{
    width: 800px;
    height: 300px;
    padding: 50px , 200px;
    margin-left: 220px;
   
}
.formulaire1{
    margin: 5px 0;
}

textarea, input{
    width: 800px;
    height: 30px;
   font-size: 22px;
font-family: 'Courier New', Courier, monospace;
}

textarea{
    height: 200px;
}
